
<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Description:</strong> <%= @book.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
<p><strong>Publisher:</strong> <%= @book.publisher.name %></p>

<% if @book.availability? %>
  <%= form_with(url: buy_book_path(@book), method: :post) do %>
    <%= submit_tag 'Buy Now', onclick: 'return confirmBuy()' %>
  <% end %>
		
<% else %>
	<p>This book is currently not available for purchase.</p>
<% end %>
<br><br><br>
<%= link_to 'Back to Books', books_path %>

<script>
  function confirmBuy() {
    return confirm('Are you sure you want to buy this book?');
  }
</script>

